.box  {
    width: 100px;
    height: 100px;
    background-color: #b32e2e;
    border-radius: 5;
}

.Shimmer-container{
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center;     /* center vertically */
  height: 100vh;           /* full viewport height */
  width: 100vw;            /* full viewport width */
  /* background: #f5f5f5;  */
}